.listContainer {
  background-color: #212121;
}

.listItem :global(.vtex-button) {
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;

  color: #fff;
  font-weight: 100;
}

.listItemActive :global(.vtex-button) {
  border-bottom-color: #14ff00;
  color: #14ff00;
}
