.price_installmentContainer--home {
  display: none;
}

.listPriceLabel {
  display: none;
}

.sellingPriceLabel {
  display: none;
}

.sellingPrice {
  color: #59ff00;
}

.image {
  width: 100%;
  height: 100%;
}

.productBrand {
  color: #fff;
}
