.sliderLayoutContainer {
  width: 75%;
  margin: 0.5rem auto;
}

.slideChildrenContainer {
  cursor: pointer;
  transition: all 0.3s;
}

/* Dots */
.paginationDotsContainer {
  position: absolute;
  bottom: -28px;
}

/* Arrow */
.sliderArrows {
  display: block;
  position: absolute;
  bottom: -52px;
  padding: 0 2rem 0 2rem;
  color: #fff;
}

.sliderLeftArrow,
.sliderRightArrow {
  padding: 15px;
}

@media (max-width: 810px) {
  .sliderLayoutContainer {
    width: 85%;
  }
}
