/* Header Desktop */

.flexRowContent {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8rem;
  padding-left: 1.3rem;
}

/* Header Mobile */

.flexRowContent--main-header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
