.productBrandName {
  display: none;
}

.productName {
  color: #57ff02;
}

.price {
  color: #fff;
}

.unitPrice,
.productPriceCurrency {
  color: rgb(219, 218, 218);
}

.removeButton {
  color: rgb(204, 111, 6) !important;
}
