.minicartIconContainer {
  color: #fff;
}

.minicartIconContainer :global(.vtex-cartIcon) {
  height: 100px;
}

.minicartTitle {
  display: none;
}

.minicartProductListContainer {
  background-color: #424242;
}
