.stars {
  font-size: 10px;
  position: relative;
  right: 0;
}

:global(.vtex-reviews-and-ratings-2-x-stars) {
  color: #59ff00;
}

.summaryTotalReviews {
  display: none;
}

.container {
  color: #fff;
}

.loginLink {
  color: #59ff00;
}
